<link rel="stylesheet" href="../../css/afterLogin/left_main_container.css">

<a  href="/ConneXion" class="sidebar_links <%= activePage === 'ConneXion' ? 'active' : '' %>"><div class="dashboard sidebar_div"><i class="fa-solid fa-house"></i>Dashboard</div></a>

<a  href="/events" class="sidebar_links <%= activePage === 'events' ? 'active' : '' %>"><div class="evetns sidebar_div"><i class="fa-solid fa-calendar-days"></i>Events</div></a>
<a  href="/qna" class="sidebar_links <%= activePage === 'qna' ? 'active' : '' %>"><div class="qna sidebar_div"><i class="fas fa-file-alt"></i>Qna</div></a>
<a  href="/jobs" class="sidebar_links <%= activePage === 'jobs' ? 'active' : '' %>"><div class="jobs sidebar_div"><i class="fas fa-briefcase"></i>Jobs</div></a>
<a  href="/logout" class="sidebar_links <%= activePage === 'logout' ? 'active' : '' %>"><div class="alu_dir sidebar_div"><i class="fa-solid fa-right-from-bracket"></i>Logout</div></a>

